@model TableGenerator.Models.TableViewModel
@{
    ViewData["Title"] = "DynamicTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dynamic Table</h1>

<partial name="_TableDisplay" model="@Model.myTable" />
