@{
    ViewData["Title"] = "Home Page";
}
@model TableGenerator.Models.TableViewModel
<div class="text-center">
    <h1 class="display-4">Welcome to Frederik Sthen Hansens Table Generator</h1>


</div>

@using (Html.BeginForm("DynamicTable", "HomeController", FormMethod.Post))
    {
        <div style="text-align:center">
            <div class="form-group" id="SelectedOrientation" >
                @Html.DropDownListFor(m => m.SelectedOrientation, Model.Orientations, "Select Orientation", htmlAttributes: new { @class = "form-control", id = "SelectedOrientation" })
            </div>-->
            @*<div><p class="button"></p><a class="btn-primary" asp-controller="Home" asp-action="DynamicTable"></a></div>*@
</div>
}

@*<form asp-action="DynamicTable" method="post" role="form">
    @Html.DropDownListFor(m => m.SelectedOrientation, Model.Orientations, "Select Orientation")*@
    <input type="button"
           value="Generate Table from selected orientation"
           asp-action="VerticalTable" />
@*</form>*@



@*<input type="button"
       value="Go Somewhere Else"
       onclick="location.href='<%: Url.Action(" Action", "Controller" ) %>'" />*@

@section Scripts
{
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script type="text/javascript">
        $('#SelectedOrientation').change(function ()
        {
            var selectedOrientation = $("#SelectedOrientation").text;

            if (selectedOrientation = "Vertical") { $.getJSON('@Url.Action("DynamicTable")', {});}
            if (selectedOrientation = "Horizontal") {$.getJSON('@Url.Action("DynamicTable")');}

        });
    </script>
}

