@{
    ViewData["Title"] = "Home Page";
}
@model TableGenerator.Models.TableViewModel
<div class="text-center">
    <h1 class="display-4">Welcome to Frederik Sthen Hansens Table Generator</h1>


</div>
@using (Html.BeginForm("Index", "HomeController", FormMethod.Post))
{
    <div style="text-align:center">
        <div class="form-group">
            @Html.DropDownListFor(m => m.orientation, Model.Orientations,"orientation" ,"Select Orientation")
        </div>
    </div>
}
