@model TableGenerator.Models.TableViewModel
@{
    ViewData["Title"] = "VerticalTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Vertical Table</h1>

<partial name="_TableDisplay" model="@Model.myTable" />


@section Scripts
{
@*@Scripts.Render("~/bundles/jqueryval")*@
<script type="text/javascript">
        
</script>
}